
.MuiToolbar-root { /* toolbar da tabela <MaterialTable> */
    background-color: rgb(240, 240, 240);
}

#loading {
    text-align: center;
    color: red;
}

.repo-link {
    background-color: black;
    color: white;
    text-decoration: none;

    padding: 3px 5px;
    border-radius: 4px;
}

.repo-link:hover {
    background-color: grey;
}