section {
    background-color: #2d2d2d;
    margin: 20px;
    padding: 6px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap; /* para deixar responsivo */
    justify-content: center;
}

section .div-info {
    margin: 10px;
    background-color: #1a1a1a;
    padding: 10px;
    width: 300px;
}

section .div-info a {
    color: #9292ff;
}

#avatar {
    margin: 10px;
}

#avatar img {
    height: 170px;
    padding: 0;
    border-radius: 100px;
    transition: 0.5s;
}

#avatar img:hover {
    border-radius: 10px;
}

section h4 {
    text-align: center;
}


#github-link {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
    transition: 0.5s;
}

#github-link:hover {
    background-color: grey;
}